:root {
  --header-color: white;
  --bg-color: #fafafa;
  --main-color: rgb(0, 0, 0);
}

body {
  font-family: sans-serif;
  background-color: var(--bg-color);
}

header {
  background-color: var(--header-color);
}

.header-p {
  color: var(--main-color);
}

.main-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.selects {
  @media (max-width: 730px) {
    flex-wrap: wrap;
    gap: 30px;
  }
  .form-1 {
    @media (max-width: 730px) {
      width: 100%;
    }
  }
}

.lists {
  @media (max-width: 550px) {
    padding: 50px;
  }
}
